@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Miniver&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'); */

@theme{
  --color-primary: #F84565;
  --color-primary-dull: #D63854;

  --color-yellow: #FF8C00;
  --color-yellow-dark: #FFB800;

  --color-white: #FFFFFF


}

*{
  font-family: 'Outfit', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

body{
  color:white;
  background-color: #111111;
  /* background-color: #000000; */
}


.no-scrollbar{
  scrollbar-width: none; /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance :none;

}

::-webkit-calendar-picker-indicator{ 
  filter:invert(1);
}