/* 1. Import tất cả các Font cần thiết */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

@theme {
  /* Khai báo biến font để dùng class Tailwind */
  --font-nunito: "Nunito Sans", sans-serif;
  --font-vintage: "Playfair Display", serif;
  
  /* Giữ lại các màu sắc của bạn */
  --color-primary: #F84565;
  --color-yellow: #FF8C00;
  --color-white: #FFFFFF;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: var(--font-nunito);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    
    background-color: #000000; 
    color: #D1D5DB; /* text-neutral-300 */
  }
}

.scrollbar-none::-webkit-scrollbar { display: none; }

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.4s ease-out;
}
